.yellow {
  background-color: yellow;
}

.form-check {
  margin-left: 10px;
}

.search-pagination {
  display: flex;
  justify-content: space-between;
}

.pagination-container,
.dropdown-container {
  padding-top: 10px;
}

@media (max-width: 767px) {
  .search-pagination {
    flex-direction: column;
  }
}

thead th {
  cursor: pointer;
}
